{% extends "base.html" %}

{% block title %}Manage Roles{% endblock %}

{% block content %}
<h2 class="text-center">Manage Roles</h1>
<div class="table-container">
    <table class="role-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email/Nickname</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email or user.nickname }}</td>
                <td>{{ user.role }}</td>
                <td>
                    {% if user.role != 'Moderator' %}
                    <form action="{{ url_for('jokes.manage_roles') }}" method="POST" class="inline-form">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <input type="hidden" name="action" value="add_moderator">
                        <button class="btn btn-green">Make Moderator</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('jokes.manage_roles') }}" method="POST" class="inline-form">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <input type="hidden" name="action" value="remove_moderator">
                        <button class="btn btn-red" {% if users|length = 1 %}disabled{% endif %}>Remove Moderator</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
